body {
  width: 95vw;
  min-height: 95vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#controls {
  min-height: 100px;
  height: 10vh;

  width: 95vw;
}

#grid {
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 1000px;
}

.cell {
  width: 10px;
  height: 10px;

  border: 1px solid #333333;
}

.cell_black {
  font-size: 8px;
  color: #FFFFFF;
  background-color: #333333;

  display: flex;
  justify-content: center;
  align-items: center;
}